<aside class="general-nav">
    <nav>
        <ul>
            <li><a href="/" class="button__bar button__bar--large">Home</a></li>
            <hr>
            <li>
                <a href="/categories" class="button__bar button__bar--large">Categories</a>
                <ul class="general-nav__indent">
                    <li><a href="/categories/pop" class="button__bar button__bar--large">Pop</a></li>
                    <li><a href="/categories/alternative" class="button__bar button__bar--large">Alternative</a></li>
                    <li><a href="/categories/rock" class="button__bar button__bar--large">Rock</a></li>
                    <li><a href="/categories/country" class="button__bar button__bar--large">Country</a></li>
                    <li><a href="/categories/rap" class="button__bar button__bar--large">Rap</a></li>
                    <li><a href="/categories/metal" class="button__bar button__bar--large">Metal</a></li>
                </ul>
            </li>
            <hr>
            <li><a href="/artists" class="button__bar button__bar--large">Artists</a></li>
            <hr>
            <li><a href="#" class="button__bar button__bar--large">Store</a></li>
            <li><a href="/about" class="button__bar button__bar--large">About</a></li>
            <li><a href="/contact" class="button__bar button__bar--large">Contact</a></li>
        </ul>
    </nav>

    <div class="collapse"><i class="fas fa-angle-left"></i></div>
    <div class="expand display__none"><i class="fas fa-angle-right"></i></div>
</aside>